<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417784190527-j58uu7iaai8hk1srf97qk1e0eaagsl9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417784190527-j58uu7iaai8hk1srf97qk1e0eaagsl9g</string>
	<key>API_KEY</key>
	<string>AIzaSyAMYb11HhPPvg2kFIZcRvoUAS7KNtkazNU</string>
	<key>GCM_SENDER_ID</key>
	<string>417784190527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mealPlan</string>
	<key>PROJECT_ID</key>
	<string>mealplan-ad926</string>
	<key>STORAGE_BUCKET</key>
	<string>mealplan-ad926.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417784190527:ios:6c6ac29e056f6da0410a8a</string>
</dict>
</plist>